include README.rst
include LICENSE
include MANIFEST.in
include zenaida/config.rb
recursive-include zenaida/sass *
recursive-include zenaida/static *
recursive-include zenaida/templates *
recursive-include zenaida/contrib/feedback/templates *
recursive-include zenaida/contrib/feedback/static *
